@import "src/variables";

.item {
  display: flex;
  box-sizing: border-box;
  background: #FFFFFF;
  width: 343px;
  height: 72px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
  border-radius: 8px;
}

.item__ico {
  width: 40px;
  height: 40px;
  margin: 16px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.item-name {
  width: 113px;
  margin-top: 18px;
}

.item-name__title {
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: $black_1;
}

.item-name__subtitle {
  font-weight: 450;
  font-size: 12px;
  line-height: 15px;
  color: $grey;
  margin-top: 3px;
}