@import "src/variables";

.market {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.market__info {
  font: {
    weight: 500;
    size: 20px;
  }
  line-height: 25px;
  color: $black_1;
}

.market a {
  text-decoration: none;
}

