@mixin flex_center {
  display: flex;
  align-items: center;
}

$black_1: #212529;
$black_2: #343A40;
$black_3: #000000;
$grey: #6C757D;
$mild_grey: #DFE2E4;
$red: #D90429;
$blue: #0063F5;
$green: #21BF73;